#heading{
    font-variant: small-caps;
}

#stinkle{
    background-image: url("images/istockphoto-673326758-170667a.jpeg");
    background-size: contain;
}
*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#overall{
    cursor: crosshair;
    background-color: rgb(225, 225, 225) ;
}